@font-face {
  font-family: 'LabChinese';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/lab-chinese-0.ttf?v=af36ae41aff2) format('truetype');
}
@font-face {
  font-family: 'LabChinese';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/lab-chinese-1.ttf?v=7b716422dd8d) format('truetype');
}
@font-face {
  font-family: 'LabChinese';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/lab-chinese-2.ttf?v=e3fd2243ca21) format('truetype');
}
@font-face {
  font-family: 'LabChinese';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/lab-chinese-3.ttf?v=9ca00f3cf307) format('truetype');
}
@font-face {
  font-family: 'LabChinese';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/lab-chinese-4.ttf?v=5427d484f8e5) format('truetype');
}
@font-face {
  font-family: 'LabLatin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/lab-inter-0.ttf?v=8ed49d48a950) format('truetype');
}
@font-face {
  font-family: 'LabLatin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(assets/lab-inter-1.ttf?v=c4259e0daec1) format('truetype');
}
@font-face {
  font-family: 'LabLatin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(assets/lab-inter-2.ttf?v=f4cefd69e854) format('truetype');
}
@font-face {
  font-family: 'LabLatin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/lab-inter-3.ttf?v=9c4b57f5d114) format('truetype');
}
@font-face {
  font-family: 'LabLatin';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(assets/lab-inter-4.ttf?v=7f566e7dbd94) format('truetype');
}
